

.timelineContainer {
    padding-top: 100px !important;
    overflow-y: scroll;
    max-height: 1000px;
    height: 100%;

    &::before {
        height: 2729px !important;
    }
    
    .vertical-timeline-element-content {
        font-family: 'Roboto Mono', monospace;
        background-color: #10102aeb;
        color: white;
        min-height: 400px;
    }
    .vertical-timeline::before {
        height: 2930px !important;
    }

    .vertical-timeline-element--work-last {
        margin-bottom: 300px !important;
    }
}


