

.timelineContainer {
    padding-top: 100px !important;
    overflow-y: scroll;
    height: 500px;

    &::before {
        height: 2029px;
    }
    
    .vertical-timeline-element-content {
        font-family: 'Poiret One', sans-serif;;
        background-color: #10102aeb;
        color: white;
        min-height: 400px;
    }
}


